body { 
    background-image: url("./Images/my_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    ;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}

img {
    opacity: 0.9;
    margin: 10px;
    height: 200px;
    width: auto;
}

.form {
    margin: 10px;
}